In [12]:
import numpy as np 
import pandas as pd
import datetime as datetime

# plots
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib

sns.set(style="whitegrid") # seteando tipo de grid en seaborn
%matplotlib inline

#for linux use this
#RUTA_DATOS = '../datos_navent_fiuba/'
#and for windows use this
RUTA_DATOS = '../datos_navent_fiuba/'

In [22]:
#se cargan los datos
postulantes_educacion = pd.read_csv(RUTA_DATOS + 'fiuba_1_postulantes_educacion.csv')
pos_gen_edad = pd.read_csv(RUTA_DATOS + 'fiuba_2_postulantes_genero_y_edad.csv')
vistas = pd.read_csv(RUTA_DATOS + 'fiuba_3_vistas.csv')
postulaciones = pd.read_csv(RUTA_DATOS + 'fiuba_4_postulaciones.csv')
avisos_online = pd.read_csv(RUTA_DATOS + 'fiuba_5_avisos_online.csv')
avisos_detalle = pd.read_csv(RUTA_DATOS + 'fiuba_6_avisos_detalle.csv')

In [14]:
postulantes_educacion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298231 entries, 0 to 298230
Data columns (total 3 columns):
idpostulante    298231 non-null object
nombre          298231 non-null object
estado          298231 non-null object
dtypes: object(3)
memory usage: 6.8+ MB

In [39]:
#vemos que tenemos un problema
#vemos que se repiten los id
#(postulantes_educacion["idpostulante"].value_counts()).describe() 
en_curso_y_graduados = postulantes_educacion.groupby('idpostulante').count()
asdasd = pd.merge(en_curso_y_graduados, postulantes_educacion, on='idpostulante', how='inner')
#postulantes_educacion[postulantes_educacion['idpostulante'] == '0zB03O9']

              nombre  estado
idpostulante
0zB026d            2       2
0zB03O9            2       2
0zB0Xwd            2       2
0zB0e1d            2       2
0zB0qGE            2       2

In [16]:
#ejemplo, vemos que el probleam es muy jodido
(postulantes_educacion.loc[postulantes_educacion['idpostulante'] == "YlMLGD" ]).head(20)

     idpostulante             nombre      estado
373        YlMLGD  Terciario/Técnico    En Curso
374        YlMLGD               Otro    En Curso
375        YlMLGD      Universitario    En Curso
2206       YlMLGD  Terciario/Técnico    Graduado
2207       YlMLGD      Universitario    Graduado
2208       YlMLGD               Otro    Graduado
2209       YlMLGD           Posgrado    Graduado
3659       YlMLGD      Universitario  Abandonado
3660       YlMLGD  Terciario/Técnico  Abandonado

In [17]:
postulantes_educacion["estado"].value_counts()
#orden deseado(esta mal xq puede tener mas de dos graduados por ejemplo)
#En curso
#Abondonado
#Graduado

Graduado      194474
En Curso       78531
Abandonado     25226
Name: estado, dtype: int64

In [18]:
z={"En Curso":"AEn Curso","Abondonado":"BAbondonado","Graduado":"CGraduado"}
postulantes_educacion["estado"]=postulantes_educacion["estado"].map(z)
postulantes_educacion["estado"].head()

0    AEn Curso
1    AEn Curso
2    AEn Curso
3    AEn Curso
4    AEn Curso
Name: estado, dtype: object

In [19]:
postulantes_educacion.sort_values(by=['estado']).head()

       idpostulante             nombre     estado
0              NdJl           Posgrado  AEn Curso
101236      X9xVZdb               Otro  AEn Curso
101235      X9xVZdb  Terciario/Técnico  AEn Curso
101234      MVd0ZJL         Secundario  AEn Curso
101233      RzMoZ9Y      Universitario  AEn Curso

In [20]:
##no se porque se borraron los abandonados (ahora si se, quiere decir que todos se graduaron de algo onunca abandonaron)
postulantes_educacion.drop_duplicates(subset=["idpostulante"], keep='last', inplace=True)

In [21]:
postulantes_educacion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 188752 entries, 2 to 298230
Data columns (total 3 columns):
idpostulante    188752 non-null object
nombre          188752 non-null object
estado          164420 non-null object
dtypes: object(3)
memory usage: 5.8+ MB